<div>
  <h2 id="page-heading" data-cy="EmpSalaryInfoHeading">
    <span jhiTranslate="shrmsApp.empSalaryInfo.home.title">Emp Salary Infos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="shrmsApp.empSalaryInfo.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-emp-salary-info"
        [routerLink]="['/emp-salary-info/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="shrmsApp.empSalaryInfo.home.createLabel"> Create a new Emp Salary Info </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="empSalaryInfos?.length === 0">
    <span jhiTranslate="shrmsApp.empSalaryInfo.home.notFound">No Emp Salary Infos found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="empSalaryInfos && empSalaryInfos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="salaryBasis">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.salaryBasis">Salary Basis</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="amount">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.amount">Amount</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="paymentType">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.paymentType">Payment Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isPfContribution">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.isPfContribution">Is Pf Contribution</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pfNumber">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.pfNumber">Pf Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pfRate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.pfRate">Pf Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="additionalPfRate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.additionalPfRate">Additional Pf Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalPfRate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.totalPfRate">Total Pf Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="isEsiContribution">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.isEsiContribution">Is Esi Contribution</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="esiNumber">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.esiNumber">Esi Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="esiRate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.esiRate">Esi Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="additionalEsiRate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.additionalEsiRate">Additional Esi Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="totalEsiRate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.totalEsiRate">Total Esi Rate</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employeId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.employeId">Employe Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.createdOn">Created On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deleted">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.deleted">Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employee.id">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.empSalaryInfo.employee">Employee</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empSalaryInfo of empSalaryInfos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/emp-salary-info', empSalaryInfo.id, 'view']">{{ empSalaryInfo.id }}</a>
          </td>
          <td jhiTranslate="{{ 'shrmsApp.SalaryBasis.' + empSalaryInfo.salaryBasis }}">{{ empSalaryInfo.salaryBasis }}</td>
          <td>{{ empSalaryInfo.amount }}</td>
          <td>{{ empSalaryInfo.paymentType }}</td>
          <td>{{ empSalaryInfo.isPfContribution }}</td>
          <td>{{ empSalaryInfo.pfNumber }}</td>
          <td>{{ empSalaryInfo.pfRate }}</td>
          <td>{{ empSalaryInfo.additionalPfRate }}</td>
          <td>{{ empSalaryInfo.totalPfRate }}</td>
          <td>{{ empSalaryInfo.isEsiContribution }}</td>
          <td>{{ empSalaryInfo.esiNumber }}</td>
          <td>{{ empSalaryInfo.esiRate }}</td>
          <td>{{ empSalaryInfo.additionalEsiRate }}</td>
          <td>{{ empSalaryInfo.totalEsiRate }}</td>
          <td>{{ empSalaryInfo.employeId }}</td>
          <td>{{ empSalaryInfo.lastModified | formatMediumDatetime }}</td>
          <td>{{ empSalaryInfo.lastModifiedBy }}</td>
          <td>{{ empSalaryInfo.createdBy }}</td>
          <td>{{ empSalaryInfo.createdOn | formatMediumDatetime }}</td>
          <td>{{ empSalaryInfo.deleted }}</td>
          <td>
            <div *ngIf="empSalaryInfo.employee">
              <a [routerLink]="['/employee', empSalaryInfo.employee.id, 'view']">{{ empSalaryInfo.employee.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/emp-salary-info', empSalaryInfo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/emp-salary-info', empSalaryInfo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(empSalaryInfo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="empSalaryInfos && empSalaryInfos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
