<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-contacts-heading" data-cy="ContactsCreateUpdateHeading" jhiTranslate="shrmsApp.contacts.home.createOrEditLabel">
        Create or edit a Contacts
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.contacts.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.contacts.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'shrmsApp.ContactType.null' | translate }}</option>
            <option *ngFor="let contactType of contactTypeValues" [value]="contactType">
              {{ 'shrmsApp.ContactType.' + contactType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.contacts.relation" for="field_relation">Relation</label>
          <select class="form-control" name="relation" formControlName="relation" id="field_relation" data-cy="relation">
            <option [ngValue]="null">{{ 'shrmsApp.Relationship.null' | translate }}</option>
            <option *ngFor="let relationship of relationshipValues" [value]="relationship">
              {{ 'shrmsApp.Relationship.' + relationship | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.contacts.phoneNo1" for="field_phoneNo1">Phone No 1</label>
          <input type="text" class="form-control" name="phoneNo1" id="field_phoneNo1" data-cy="phoneNo1" formControlName="phoneNo1" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.contacts.phoneNo2" for="field_phoneNo2">Phone No 2</label>
          <input type="text" class="form-control" name="phoneNo2" id="field_phoneNo2" data-cy="phoneNo2" formControlName="phoneNo2" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.contacts.lastModified" for="field_lastModified">Last Modified</label>
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.contacts.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.contacts.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.contacts.createdOn" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.contacts.deleted" for="field_deleted">Deleted</label>
          <input type="checkbox" class="form-check" name="deleted" id="field_deleted" data-cy="deleted" formControlName="deleted" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.contacts.employeeId" for="field_employeeId">Employee Id</label>
          <input
            type="number"
            class="form-control"
            name="employeeId"
            id="field_employeeId"
            data-cy="employeeId"
            formControlName="employeeId"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.contacts.employee" for="field_employee">Employee</label>
          <select
            class="form-control"
            id="field_employee"
            data-cy="employee"
            name="employee"
            formControlName="employee"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="employeeOption" *ngFor="let employeeOption of employeesSharedCollection">{{ employeeOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
