<div>
  <h2 id="page-heading" data-cy="ProjectsHeading">
    <span jhiTranslate="shrmsApp.projects.home.title">Projects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="shrmsApp.projects.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-projects"
        [routerLink]="['/projects/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="shrmsApp.projects.home.createLabel"> Create a new Projects </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="projects?.length === 0">
    <span jhiTranslate="shrmsApp.projects.home.notFound">No Projects found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="projects && projects.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="projectName">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.projectName">Project Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="clientName">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.clientName">Client Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cost">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.cost">Cost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="costType">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.costType">Cost Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="priority">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.priority">Priority</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.startDate">Start Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.endDate">End Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deadLine">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.deadLine">Dead Line</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="projectLead">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.projectLead">Project Lead</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="progressPercent">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.progressPercent">Progress Percent</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="openTasksNo">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.openTasksNo">Open Tasks No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="completeTasksNo">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.completeTasksNo">Complete Tasks No</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="projectLogo">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.projectLogo">Project Logo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="projectFile">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.projectFile">Project File</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModified">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.lastModified">Last Modified</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.lastModifiedBy">Last Modified By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdBy">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.createdBy">Created By</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdOn">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.createdOn">Created On</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="deleted">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.deleted">Deleted</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.companyId">Company Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="employeeId">
            <div class="d-flex">
              <span jhiTranslate="shrmsApp.projects.employeeId">Employee Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projects of projects; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/projects', projects.id, 'view']">{{ projects.id }}</a>
          </td>
          <td>{{ projects.projectName }}</td>
          <td>{{ projects.description }}</td>
          <td>{{ projects.clientName }}</td>
          <td>{{ projects.cost }}</td>
          <td>{{ projects.costType }}</td>
          <td>{{ projects.priority }}</td>
          <td>{{ projects.startDate | formatMediumDatetime }}</td>
          <td>{{ projects.endDate | formatMediumDatetime }}</td>
          <td>{{ projects.deadLine | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'shrmsApp.ProjectStatus.' + projects.status }}">{{ projects.status }}</td>
          <td>{{ projects.projectLead }}</td>
          <td>{{ projects.progressPercent }}</td>
          <td>{{ projects.openTasksNo }}</td>
          <td>{{ projects.completeTasksNo }}</td>
          <td>
            <a
              *ngIf="projects.projectLogo"
              (click)="openFile(projects.projectLogo, projects.projectLogoContentType)"
              jhiTranslate="entity.action.open"
              >Open</a
            >
            <span *ngIf="projects.projectLogo">{{ projects.projectLogoContentType }}, {{ byteSize(projects.projectLogo) }}</span>
          </td>
          <td>{{ projects.projectFile }}</td>
          <td>{{ projects.lastModified | formatMediumDatetime }}</td>
          <td>{{ projects.lastModifiedBy }}</td>
          <td>{{ projects.createdBy }}</td>
          <td>{{ projects.createdOn | formatMediumDatetime }}</td>
          <td>{{ projects.deleted }}</td>
          <td>{{ projects.companyId }}</td>
          <td>{{ projects.employeeId }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/projects', projects.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/projects', projects.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(projects)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="projects && projects.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
