<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-projects-heading" data-cy="ProjectsCreateUpdateHeading" jhiTranslate="shrmsApp.projects.home.createOrEditLabel">
        Create or edit a Projects
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.projectName" for="field_projectName">Project Name</label>
          <input
            type="text"
            class="form-control"
            name="projectName"
            id="field_projectName"
            data-cy="projectName"
            formControlName="projectName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.description" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.clientName" for="field_clientName">Client Name</label>
          <input
            type="text"
            class="form-control"
            name="clientName"
            id="field_clientName"
            data-cy="clientName"
            formControlName="clientName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.cost" for="field_cost">Cost</label>
          <input type="number" class="form-control" name="cost" id="field_cost" data-cy="cost" formControlName="cost" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.costType" for="field_costType">Cost Type</label>
          <input type="text" class="form-control" name="costType" id="field_costType" data-cy="costType" formControlName="costType" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.priority" for="field_priority">Priority</label>
          <input type="text" class="form-control" name="priority" id="field_priority" data-cy="priority" formControlName="priority" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.startDate" for="field_startDate">Start Date</label>
          <div class="d-flex">
            <input
              id="field_startDate"
              data-cy="startDate"
              type="datetime-local"
              class="form-control"
              name="startDate"
              formControlName="startDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.endDate" for="field_endDate">End Date</label>
          <div class="d-flex">
            <input
              id="field_endDate"
              data-cy="endDate"
              type="datetime-local"
              class="form-control"
              name="endDate"
              formControlName="endDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.deadLine" for="field_deadLine">Dead Line</label>
          <div class="d-flex">
            <input
              id="field_deadLine"
              data-cy="deadLine"
              type="datetime-local"
              class="form-control"
              name="deadLine"
              formControlName="deadLine"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'shrmsApp.ProjectStatus.null' | translate }}</option>
            <option *ngFor="let projectStatus of projectStatusValues" [value]="projectStatus">
              {{ 'shrmsApp.ProjectStatus.' + projectStatus | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.projectLead" for="field_projectLead">Project Lead</label>
          <input
            type="text"
            class="form-control"
            name="projectLead"
            id="field_projectLead"
            data-cy="projectLead"
            formControlName="projectLead"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.progressPercent" for="field_progressPercent">Progress Percent</label>
          <input
            type="number"
            class="form-control"
            name="progressPercent"
            id="field_progressPercent"
            data-cy="progressPercent"
            formControlName="progressPercent"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.openTasksNo" for="field_openTasksNo">Open Tasks No</label>
          <input
            type="number"
            class="form-control"
            name="openTasksNo"
            id="field_openTasksNo"
            data-cy="openTasksNo"
            formControlName="openTasksNo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.completeTasksNo" for="field_completeTasksNo">Complete Tasks No</label>
          <input
            type="number"
            class="form-control"
            name="completeTasksNo"
            id="field_completeTasksNo"
            data-cy="completeTasksNo"
            formControlName="completeTasksNo"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.projectLogo" for="field_projectLogo">Project Logo</label>
          <div>
            <div *ngIf="editForm.get('projectLogo')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('projectLogo')!.value!, editForm.get('projectLogoContentType')!.value!)"
                jhiTranslate="entity.action.open"
                >Open</a
              ><br />
              <span class="pull-start"
                >{{ editForm.get('projectLogoContentType')!.value }}, {{ byteSize(editForm.get('projectLogo')!.value!) }}</span
              >
              <button
                type="button"
                (click)="editForm.patchValue({ projectLogo: undefined, projectLogoContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_projectLogo"
              data-cy="projectLogo"
              (change)="setFileData($event, 'projectLogo', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input
            type="hidden"
            class="form-control"
            name="projectLogo"
            id="field_projectLogo"
            data-cy="projectLogo"
            formControlName="projectLogo"
          />
          <input
            type="hidden"
            class="form-control"
            name="projectLogoContentType"
            id="field_projectLogoContentType"
            formControlName="projectLogoContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.projectFile" for="field_projectFile">Project File</label>
          <input
            type="text"
            class="form-control"
            name="projectFile"
            id="field_projectFile"
            data-cy="projectFile"
            formControlName="projectFile"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.lastModified" for="field_lastModified">Last Modified</label>
          <div class="d-flex">
            <input
              id="field_lastModified"
              data-cy="lastModified"
              type="datetime-local"
              class="form-control"
              name="lastModified"
              formControlName="lastModified"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.lastModifiedBy" for="field_lastModifiedBy">Last Modified By</label>
          <input
            type="text"
            class="form-control"
            name="lastModifiedBy"
            id="field_lastModifiedBy"
            data-cy="lastModifiedBy"
            formControlName="lastModifiedBy"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.createdBy" for="field_createdBy">Created By</label>
          <input type="text" class="form-control" name="createdBy" id="field_createdBy" data-cy="createdBy" formControlName="createdBy" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.createdOn" for="field_createdOn">Created On</label>
          <div class="d-flex">
            <input
              id="field_createdOn"
              data-cy="createdOn"
              type="datetime-local"
              class="form-control"
              name="createdOn"
              formControlName="createdOn"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.deleted" for="field_deleted">Deleted</label>
          <input type="checkbox" class="form-check" name="deleted" id="field_deleted" data-cy="deleted" formControlName="deleted" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.companyId" for="field_companyId">Company Id</label>
          <input type="number" class="form-control" name="companyId" id="field_companyId" data-cy="companyId" formControlName="companyId" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="shrmsApp.projects.employeeId" for="field_employeeId">Employee Id</label>
          <input
            type="number"
            class="form-control"
            name="employeeId"
            id="field_employeeId"
            data-cy="employeeId"
            formControlName="employeeId"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
